<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Server.Properties.Settings>
            <setting name="AppWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AppHeigth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AppTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AppLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AppWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </Server.Properties.Settings>
    </userSettings>
</configuration>