
/*сетка*/
#wrapper{
    width: 100%;
    height: 100%;
    background: #f2a;
}

/* header*/
#header{
    width: 100%;
    height:200px;
    border: 1px solid black;
}


/*main*/
main {
    width: 100%;
    height:100%;
    border: 1px solid black;
    
}
/*footer*/

footer{
    width: 100%;
    height:200px;
    border: 1px solid black;
    background-color: aquamarine;
}
/*tags*/
div{
    border: 1px solid black;
}